# Java
*.class
*.bluej
*.grp
*.db
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
build/
!gradle-wrapper.jar

# Log files
*.log

# Intellij IDEA
.idea/
*.iml
*.iws
*.ipr
/out/


# Eclipse
.classpath
.project
.settings/
.metadata/
bin/

# Environment Configurations
.env
.env.local

# OS
Thumbs.db
.DS_Store

# Documentation & Project Tracking
*.md
docs/
!README.md
!AGENTS.md


